@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /** Scrollbar **/
    body::-webkit-scrollbar {
        @apply w-2.5;
    }

    body {
        scrollbar-width: thin;
        scrollbar-color: scrollbarBG thumbBG;
    }

    body::-webkit-scrollbar-track {
        @apply bg-gray-200;
    }

    body::-webkit-scrollbar-thumb {
        @apply rounded-md border-2 border-solid border-scrollbarBG bg-scrollbarThumbBG;
    }

    body::-webkit-scrollbar-thumb:hover {
        @apply bg-scrollbarThumbBG opacity-75;
    }

    [data-title]:hover:after {
        opacity: 1;
        transition: all 0.5s ease;
        visibility: visible;
    }

    [data-title]:not(:hover):after {
        opacity: 0;
        transition: all 0.5s ease;
        visibility: hidden;
    }

    [data-title]:after {
        @apply bg-darken text-white;
        content: attr(data-title);
        position: absolute;
        padding: 1px 5px 2px 5px;
        bottom: -2em;
        left: 1em;
        white-space: nowrap;
        box-shadow: 1px 1px 3px #222222;
        opacity: 0;
        border: 1px solid #fff;
        z-index: 99999;
        visibility: hidden;
        border-radius: 5px;
    }

    [data-title] {
        position: relative;
    }

    /** Cards **/
    .cards__grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        grid-auto-rows: minmax(200px, auto);
    }

    .card__content:hover > .card__heading,
    .card__content:hover > .card__desc {
        @apply animate-fadeOut;
    }

    .card__content:not(:hover) > .card__heading,
    .card__content:not(:hover) > .card__desc {
        @apply animate-fadeIn;
    }

    .card__content:hover > .card__buttons {
        @apply animate-fadeIn;
    }

    .card__content:not(:hover) > .card__buttons {
        @apply animate-fadeOut;
    }

    /** Navbar **/
    .navbar-underline-animation {
        @apply relative decoration-transparent;
    }

    .navbar-underline-animation::before {
        @apply absolute bottom-[-.2rem] left-0 block h-[2px] w-full scale-x-0 bg-white transition-transform duration-300 ease-in-out content-[''];
    }

    .navbar-underline-animation:hover::before {
        @apply scale-x-100;
    }
}
